.main{
    background-image:url(./assets/images/GridPattern.png);
}

.MiddlePart{
    text-align:center;
    color:white;
    font-size: 2.5vw;
    font-family:"Zen Dots";

    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);

    animation: fadeIn 1s forwards;
}

.picture, img{
    position: fixed;
    top: 40%;
    left: 90%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    height: 20vw;
    width: 20vw;
}

.HelloText, .IAmText{
    width:fit-content;
    margin:auto;
}

.bottom{
    font-family: "JetBrains Mono";
    color:rgb(177, 177, 177);
}

.games{position:absolute; left: 3vw;bottom: 0px; transform: translateY(100%); font-size: 1.3vw; transition: color 0.3s ease; animation: fadeInUp 1s forwards; animation-delay: 1s;}

.rd{position: absolute; left: 10vw;bottom: 0px; transform: translateY(100%); font-size: 1.3vw; transition: color 0.3s ease; animation: fadeInUp 1s forwards; animation-delay: 1s;}

.github{position: absolute; left: 25vw;bottom: 0px; transform: translateY(100%); font-size: 1.3vw; animation: fadeInUp 1s forwards; animation-delay: 1s;}

.games a, .rd a, .github a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.github:hover, .rd:hover, .games:hover{
    color: white;
}

@media (max-width: 768px) {
    .games, .rd, .github {
        font-size: 2.6vw; /* You can adjust this value */
    }
    .games{left: 6vw}
    .rd{left: 20vw}
    .github{left: 50vw}
}

@keyframes fadeIn {
    0%{
        top: 30%;
        left: 30%;
        opacity: 0;
    }
    100%{
        top: 50%;
        left: 30%;
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0%{
        transform: translateY(100%);;
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
