.main{
	line-height: 0.3;
	background-image: url("./assets/images/bg.png");
  	background-color: black;
}

.HelloTitle{
	text-align: center;
	padding-top: 30px; 
	color: white;
	font-family: "Zen Dots";
	font-size: 50px;
	position: relative;
	margin: 0;
}

.NameTitle{
	text-align: center;
	color: white;
	font-family: monospace;
	font-size: 30px;
	position: relative;
	margin: 0;
}

.Intro{
	position: relative;
    top: 100px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.AboutMe {
	font-family: "Zen Dots";
	font-size: 70px;
	position: relative;
	text-align: left;
  top:150;
	right: -150;
}

.AboutMeText {
	line-height: 35px;
	font-family: monospace;
	font-size: 15px;
  	position: absolute;
  	top: 50%; /* Adjust for vertical spacing */
  	left: 75%;
  	transform: translateX(-50%); /* Center text horizontally */
  	text-align: center;
  	width: 40%; /* Prevent text from overflowing */
}

.AboutMeArea{
  	position: relative;
  	text-align: left;
  	color: white
}

.ProjectsArea {
	transform: scalex(-1);
  position: relative;
  text-align: left;
  color: white
}

.Projects {
	transform: rotateY(180deg);
	font-family: "Zen Dots";
	font-size: 70px;
	position: relative;
	text-align: right;
  top:150;
	left: 150;
}

.Bonzai {
	transition: color 0.3s ease-out;
	color: grey;
	text-align: center;
	transform: rotateY(180deg);
	font-family: "Zen Dots";
	font-size: 30px;
  	position: relative;
	left:225;
	top:290
}

.Bonzai:hover{
	color:white;
}

.Astraloom {
	transition: color 0.3s ease-out;
	color:grey;
	text-align: center;
	transform: rotateY(180deg);
	font-family: "Zen Dots";
	font-size: 30px;
  position: relative;
	top: 250;
	left:225;
}
.Astraloom:hover{
	color:white;
}

@keyframes fadeIn {
    0% {
        top: -50px; /* Start above the screen */
        opacity: 0; /* Fully transparent */
    }
    100% {
        top: 0; /* End at normal position */
        opacity: 1; /* Fully opaque */
    }
}

@media (max-width: 768px) {
	.AboutMe {
		font-size: 50px;
	}

	.AboutMeText {
		font-size: 20px;
		width: 90%;
	}

	.Projects {
		font-size: 50px;
	}

	.Bonzai, .Astraloom {
		font-size: 40px;
		top: 550px; /* Adjust positions for smaller screens */
	}
}
